html {
    background-image: url(res/background.png);
}

body {
    position: relative;
    left: 25vw;
    width: 50vw;
    top: 20px;
    border: 2px solid darkslategray;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-family: 'Abel';
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
    body {
        width: 90vw;
        left: 5vw;
    }
}

h1 {
    position: relative;
    font-size: 50pt;
}

#profile {
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    box-shadow: 5px 5px 5px #2E2E2E;
    width: 95%;
}

#profilePicture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    border: 2px solid darkslategray;
}

p {
    position: relative;
    text-align: justify;
}

.title {
    font-size: 15pt;
    text-align: center;
    margin: 0;
    color: #2E2E2E;
}

.project {
    border-radius: 3px;
    background-color: rgb(196, 196, 196);
    padding: 5px;
}

.desc {
    color: #646464;
}

.ui-accordion .ui-accordion-header {
    margin: 0;
}

.ui-accordion-content {
    border: 0;
}

.ui-accordion-header {
    background-color: #9A80D8;
    color: #444444;
    border-radius: 0;
    border: 0;
    
}

:focus {
    outline: 0;
}

.ui-state-focus {
    border: 0;
    border-image-width: 0;
}

.ui-accordion-header-active {
    background-color: #915FC4;
    color: #FFFFFF;
}

.ui-accordion {
    font-family: 'Abel';
    padding-bottom: 20px;
}